<div class="container col-md-5 text-center">
  <div class="row justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th>予約日時</th>
          <th>予約者</th>
          <th>予約体育館</th>
        </tr>
      </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.day %>&emsp;<%= reservation.time %></td>
          <td><%= reservation.user.last_name %>&emsp;<%= reservation.user.first_name %></td>
          <td><%= reservation.facility.gym.name %>&ensp;:&ensp;<%= reservation.facility.name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>