<div class=" container pb-5">
  <% @gyms.each do |gym| %>
    <div class="row justify-content-center border border-warning rounded rounded-3 mb-3">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <%= image_tag gym.get_image(300, 200), class: 'rounded my-2' %>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <%= link_to gym_path(gym.id) do %>
          <h5 class="py-2 mt-3"><strong>&ensp;<%= gym.name %></strong></h5>
        <% end %>
        <i class="fas fa-map-marker-alt"></i>
        <%= gym.address %><br>
        <%= link_to gym_path(gym.id) do %>
          <i class="fas fa-info-circle"></i>詳細
        <% end %><br>
        コメント数: <%= gym.gym_comments.count %>
        <div id="average_rating_<%= gym.id %>"></div>
        <div class="average-review-rating" data-score="<%= gym.gym_comments.average(:rate) || 0 %>"></div>

        <script>
          $(document).on('turbolinks:load', function() {
            let averageRatingElem = document.querySelector('#average_rating_<%= gym.id %>');
            let averageRating = <%= gym.gym_comments.average(:rate) || 0 %>;

            averageRatingElem.innerHTML = "";
            let opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: averageRating,
              readOnly: true,
            };
            raty(averageRatingElem, opt);
          });
        </script>
      </div>
    </div>
  <% end %>
  <div class="pagination justify-content-center">
    <%= paginate @gyms %>
  </div>
</div>



