<div class="container pb-5">
  <% @gyms.each do |gym| %>
  <div class="row justify-content-center">
  <div class="col-md-8 d-flex flex-wrap mb-3 border border-warning rounded rounded-3">
    <div class="col-md-5">
      <%= image_tag gym.get_image(300,300), class: 'rounded my-2' %>
    </div>
    <div class="col-md-7 pl-5">
      <%= link_to gym_path(gym.id) do %>
        <h5 class="py-1 mt-5"><strong>&ensp;<%= gym.name %></strong></h5>
      <% end %>
      <i class="fas fa-map-marker-alt"></i>
      <%= gym.address %><br>
      <%= link_to gym_path(gym.id) do %>
        <i class="fas fa-info-circle"></i>詳細
      <% end %>
    </div>
  </div>
</div>
  <% end %>
</div>

