<div class="container py-5">
  <div class="row">
    <div class="col-5">
      <%= image_tag @gym.get_image(500,300) %>
    </div>
    <div class="col-4">
      <h5 class="pt-4"><%= @gym.name %></h5>
      <%= @gym.postal_code %><br>
      <%= @gym.address %><br>
      <%= @gym.phone_number %><br>
      <%= @gym.caption %>
    </div>
    <% @gym.facilities.each do |facility| %>
    <%= facility.name %>
  <% end %>
  </div>
  <%= link_to "予約する", gym_facilities_path(@gym.id) %>
</div>