<div class="container text-center">
  <h4 class="mb-3">予約一覧</h4>
  <%= link_to '新しい順', gym_manager_reservations_path(latest: "true") %>
  |<%= link_to '古い順', gym_manager_reservations_path(old: "true") %>
  |<%= link_to '日(早い順)', gym_manager_reservations_path(earliest_reservations: "true") %>
  |<%= link_to '日(遅い順)', gym_manager_reservations_path(latest_reservations: "true") %>

  <div class="row justify-content-center">
    <table class="table col-md-10">
      <thead>
        <tr>
          <th>予約日時</th>
          <th>予約者</th>
          <th>電話番号</th>
          <th>予約者メールアドレス</th>
          <th>予約体育館</th>
        </tr>
      </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.day %>&emsp;<%= reservation.time %></td>
            <td><%= reservation.user.last_name %>&emsp;<%= reservation.user.first_name %></td>
            <td><%= reservation.user.phone_number %></td>
            <td><%= reservation.user.email %></td>
            <td>
              <%= link_to gym_manager_gym_path(reservation.facility.gym.id) do %>
                <%= reservation.facility.gym.name %>&ensp;:&ensp;<%= reservation.facility.name %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="pagination justify-content-center">
    <%= paginate @reservations %>
  </div>
</div>

