<%= form_with model: [:gym_manager, gym] do |f| %>
  <div class="form-group row justify-content-center">
    <label class="col-sm-6 col-form-label text-right">体育館画像　　　　</label>
    <div class="col-sm-6">
      <%= f.file_field :image, class: 'py-2' %>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <label class="col-sm-6 col-form-label text-right">体育館名　　　　　</label>
    <div class="col-sm-6">
      <%= f.text_field :name, placeholder: "体育館名" %>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <label class="col-sm-6 col-form-label text-right">郵便番号　　　　　</label>
    <div class="col-sm-6">
      <%= f.text_field :postal_code, placeholder: "郵便番号" %>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <label class="col-sm-6 col-form-label text-right">住所　　　　　　　</label>
    <div class="col-sm-6">
      <%= f.text_field :address, placeholder: "住所" %>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <label class="col-sm-6 col-form-label text-right">電話番号　　　　　</label>
    <div class="col-sm-6">
      <%= f.text_field :phone_number, placeholder: "電話番号" %>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <label class="col-sm-6 col-form-label text-right">使用料金（１時間）</label>
    <div class="col-sm-6">
      <%= f.text_field :usage_fee, placeholder: "500" %>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <label class="col-sm-6 col-form-label text-right">説明　　　　　　　</label>
    <div class="col-sm-6">
      <%= f.text_area :caption, placeholder: "ここに説明文を記述します" %>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <label class="col-sm-6 col-form-label text-right">ステータス　　　　</label>
    <div class="col-sm-6">
      <%= f.radio_button :is_open, :false %>
      <%= f.label :is_open, "予約可", {value: :false, style: "display: inline-block;"} %>&emsp;
      <%= f.radio_button :is_open, :true %>
      <%= f.label :is_open, "予約不可", {value: :true, style: "display: inline-block;"} %>
    </div>
  </div>
  <div class="form-group text-center">
    <% if request.path_info == new_gym_manager_gym_path %>
      <%= f.submit "新規登録", class: "btn btn-base" %>
    <% else %>
      <%= f.submit "変更を保存", class: "btn btn-base" %>
    <% end %>
  </div>
<% end %>


