<div class="row">
  <div class="col-5">
    <%= image_tag gym.get_image(500,300) %>
  </div>
  <div class="col-4">
    <h5 class="pt-4"><%= gym.name %></h5>
    <%= gym.postal_code %><br>
    <%= gym.address %><br>
    <%= gym.phone_number %><br>
    <%= gym.caption %>
  </div>
  <% if gym_manager_signed_in? %>
    <%= link_to "編集する", edit_gym_manager_gym_path, class: "btn" %>
    <%= link_to "削除する", gym_manager_gym_path(gym.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn" %>
  <% elsif admin_signed_in? %>
    <%= link_to "編集する", edit_admin_gym_path, class: "btn" %>
    <%= link_to "削除する", admin_gym_path(gym.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn" %>
  <% end %>
</div>