<div class="container py-5">
  <%= render 'show', gym: @gym, facility: @facility %>
</div>
<%= render 'gym_manager/gyms/map', gym: @gym %>
<%= form_with model: [:gym_manager, @gym, @facility] do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "送信" %>
    
  <% end %>