<div class="container py-5 col-md-2">
  <h4 class="text-center">新規会員登録</h4>
  <%= form_with model: @gym_manager, url: gym_manager_registration_path, id: 'new_gym_manager', class: 'new_gym_manager', local: true do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="row justify-content-center">
    <div class="d-flex flex-column mr-3">
      <label>(姓)</label>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "令和", size: 13 %>
    </div>
    <div class="d-flex flex-column">
      <label>(名)</label>
      <%= f.text_field :first_name,autofocus: true, autocomplete: "first_name",  placeholder: "道子", size: 13 %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="d-flex flex-column mr-3">
      <label>(セイ)</label>
      <%= f.text_field :last_name_kana, autoforcus: true, autocomplete: "last_name_kana",  placeholder: "レイワ", size: 13 %>
    </div>
    <div class="d-flex flex-column">
      <label>(メイ)</label>
      <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana",  placeholder: "ミチコ", size: 13 %>
    </div>
  </div>

  <div class="row justify-content-center">
    <label class="">メールアドレス</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com', size: 30 %>
  </div>

  <div class="row justify-content-center">
    <label>パスワード
      <% if @minimum_password_length %>
      (<%= @minimum_password_length %> 文字以上)
      <% end %>
    </label>
    <%= f.password_field :password, autocomplete: "new-password", size: 30 %>
  </div>

  <div class="row justify-content-center">
    <label>パスワード確認用</label>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", size: 30 %>
  </div>

  <div class="row justify-content-center">
    <%= f.submit "新規登録", class: 'btn btn-base mt-3' %>
  </div>
  <% end %>
</div>

<div class="text-center">
  <%= link_to "ログインはこちら", gym_manager_session_path %>
</div>