<div class="col-md-6">
  <p style="font-size: 18px; margin-top: 20px;"><strong>レビュー</strong></p>
  <table class="mb-5" style="width: 100%;">
    <% if gym.gym_comments.any? %>
    <% gym.gym_comments.each do |gym_comment| %>
      <% gym_comment_user = gym_comment.user %>
      <tr>
        <td><i class="fas fa-user text-secondary"></i>&ensp;<%= gym_comment_user.last_name %><%= gym_comment_user.first_name %></td>
      </tr>
      <tr>
        <td>
          <div id="rate_<%= gym_comment.id %>"></div>
          <script>
            $(document).on('DOMContentLoaded', function() {
              let elem = document.querySelector('#rate_<%= gym_comment.id %>');
              if (elem == null) return;

              elem.innerHTML = "";
              let opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: "<%= gym_comment.rate %>",
                readOnly: true,
              };
              raty(elem, opt);
            });
          </script>
        </td>
      </tr>
      <tr>
        <% if gym_comment.comment.blank? %>
          <td>コメントはありません</td>
        <% else %>
          <td><%= gym_comment.comment %></td>
        <% end %>
      </tr>
      <tr class="border-bottom">
        <% if current_user == gym_comment_user %>
          <td>
            <%= link_to '削除', gym_gym_comment_path(gym_comment.gym_id, gym_comment.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-sm btn-danger mb-2' %>
          </td>
        <% elsif admin_signed_in? %>
          <td>
            <%= link_to '削除', admin_gym_gym_comment_path(gym_comment.gym_id, gym_comment.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-sm btn-danger mb-2' %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <% else %>
      <p>レビューはありません。</p>
    <% end %>
  </table>
</div>