<div class="container py-5 text-center">
  <h4 class="pb-3">マイページ</h4>
  <table class="table table-bordered col-7 offset-3">
    <tr>
     <td class="col-2">氏名</td>
     <td class="col-5"><%= @user.last_name %>&emsp;<%= @user.first_name %></td>
    </tr>
    <tr>
      <td class="col-2">カナ</td>
      <td class="col-5"><%= @user.last_name_kana %>&emsp;<%= @user.first_name_kana %></td>
    </tr>
    <tr>
      <td class="col-2">電話番号</td>
      <td class="col-5"><%= @user.phone_number %></td>
    </tr>
    <tr>
      <td class="col-2">メールアドレス</td>
      <td class="col-5"><%= @user.email %></td>
    </tr>
  </table>
  <%= link_to "マイページ編集", users_infomation_edit_path, class: 'btn' %>
  
  <h5 class="py-3">予約一覧</h5>
  <table class="table table-bordered col-7 offset-3">
    <thead>
      <tr>
        <th scope"col">予約日</th>
      </tr>
    </thead>
    <tbody>
      <% @user_reservations.each do |user_reservation| %>
      <tr>
        <td>
          <%= user_reservation.day %>
          <%= user_reservation.time %>
        </td>
        <td>
          <%= link_to '詳細', gym_facility_reservation_path(user_reservation.facility.gym, user_reservation.facility, user_reservation) %>
          <%= link_to '削除', reservation_path(user_reservation.id), method: :delete, data: { confirm: "削除してよろしいですか？", commit: "削除する", cancel: "やめる", title: "ご確認ください" } %>
        </td>
      </tr>
      <% end %>
      <% if @user_reservations.blank? %>
      <tr>
        <td>予約はありません。</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>