<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <% if user_signed_in? %>
          <li>
            <%= link_to users_my_page_path, class: 'nav-link text-light' do %>
              <span class="">マイページ</span>
            <% end %>
          </li>
          <li>
            <%= link_to gyms_path, class: 'nav-link text-light' do %>
              <span class="">体育館一覧</span>
            <% end %>
          </li>
          <li>
            <%= link_to reservations_path, class: 'nav-link text-light' do %>
              <span class="">予約履歴</span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
              <span class="">ログアウト</span>
            <% end %>
          </li>
        <% elsif gym_manager_signed_in? %>
          <li>
            <%= link_to gym_manager_my_page_path, class: 'nav-link text-light' do %>
              <span class="">マイページ</span>
            <% end %>
          </li>
          <li>
            <%= link_to gym_manager_gyms_path, class: 'nav-link text-light' do %>
              <span class="">体育館一覧</span>
            <% end %>
          </li>
          <li>
            <%= link_to gym_manager_reservations_path, class: 'nav-link text-light' do %>
              <span class="">予約一覧</span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_gym_manager_session_path, method: :delete, class: 'nav-link text-light' do %>
              <span class="">ログアウト</span>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to about_path, class: 'nav-link text-light' do %>
              <span class="">About</span>
            <% end %>
          </li>
          <li>
            <%= link_to gyms_path, class: 'nav-link text-light' do %>
              <span class="">体育館一覧</span>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
              <span class="">新規登録</span>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
              <span class="">ログイン</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>